:root{
    --page-bg: #b8b8ff;
    --color--logo: #9381ff;
    --cor--fundo: linear-gradient(to right, #c77dff, var(--color--logo));
    --color--btn--buy: #5a189a;

    --h1-h2-color: #160049c0;

    --grid-gap: .75rem;
    --grid-margin: 1.5rem;

    --button-padding-y: 1rem;
    --button-padding-x: 2.25rem;

    --text-size: .90rem;
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --button-font-size: 1rem;

    --section-distance-top: 5.5rem;
    --sub-section-distance-gap: 3.75rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.594);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--page-bg) linear-gradient(to bottom, #e7ecefff 30%, #e7ecef00) fixed;
}

.container{
    margin-left: var(--grid-margin);
    margin-right: var(--grid-margin);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    font-size: var(--h1-size);
    font-weight: 900;
    line-height: 1;
    color: var(--h1-h2-color);
}

.h2{
    text-align: center;
    font-weight: 900;
    font-size: var(--h2-size);
    color: var(--h1-h2-color);
}

.h3{
    font-size: var(--h3-size);
    font-weight: 900;
}

h4{
    color: var(--color--btn--buy);
}

p{
    font-size: var(--text-size);
}

.title--thin{
    font-weight: 200;
    font-style: italic;
    display: block;
}

.next-line{
    display: block;
}

.btn{
    font-size: var(--button-font-size);
    text-align: center;
    align-items: center;
    display: inline-block;
    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: 10rem;
    font-weight: 700;
    transition: .3s ease;
    max-width: fit-content;
}

.btn:hover {
  transform: scale(1.05); 
}

.btn--stroke{
    background-color: transparent;
    border: 2px solid var(--color--logo);
    color: var(--color--logo);
    box-shadow: 2px 2px 4px #9481ff;
}

.btn--buy{
    color: white;
    background-color: var(--color--btn--buy);
    box-shadow: 2px 2px 4px var(--color--btn--buy);
}

.btn--buy:hover{
    background-color: #9d4edd;
    box-shadow: 2px 2px 6px #9d4edd
}

main > *{
    margin-top: var(--section-distance-top);
    padding: 1rem 0;
}

main{
    ::-webkit-scrollbar {
        width: 8px;              
        height: 8px;             
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;      
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #7b2cbf;         
        border-radius: 10px;
    }
}

/* ------------------------------- */

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
    top: 0;
}

.logo{
    background-color: #e7ecef;
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem;
    flex-wrap: wrap;
}

.logo__text{
    font-family: "Gravitas One", sans-serif;
    font-weight: 300;
    color: var(--color--logo);
}

.logo__icon{
    color: var(--color--logo);
    font-size: 2em;
}

/* ------------------------------- */

.nav-menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    font-weight: 600;
}

.nav-menu ul a{
    color: var(--color--logo);
    padding: .75rem;
    display: inline-block;
    border-bottom: 1px solid transparent;

    &:hover{
        border-bottom: 1px solid var(--color--logo);
    }
}

/* ------------------------------- */

.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.hero__title--upper{
    text-transform: uppercase;
    color: var(--color--logo);
    /* -webkit-text-stroke: 1px var(--color--logo); */ 
    text-shadow: 2px 2px #b8b8ff;
    display: block;
    margin-top: .5rem;
}

.hero_begin{
    background-color: var(--color--logo);
    color: white;
    font-weight: 700;
}

/* ------------------------------- */

.games,
.games__list{
    display: flex;
    flex-direction: column;
    gap: var(--sub-section-distance-gap);
}

.games__card{
    text-align: center;
}

.games__card__content{
    margin-top: 1rem;

    p{
        margin: 1.625rem 0;
    }
}

.games__card__ctas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.games__card__img{
    width: 28em;
    border-radius: 3%;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .5);
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    background-image: var(--cor--fundo);
    
    h2, p{
        color: rgba(255, 255, 255, 0.836);
    }
}

.reviews__carroussel{
    display: flex;
    justify-content: center;
}

.reviews__carroussel__wrapper{
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1rem;
    padding-right: var(--grid-gap);
    width: calc(100% - (var(--grid-margin) * 2));

    scroll-snap-type: x mandatory;

    img{
        margin-left: var(--grid-gap);
        width: calc(100% - (var(--grid-margin) * 2));
        flex: 0 0 calc(100% - (var(--grid-margin) * 2));
        border-radius: 5%;

        scroll-snap-align: center;
    }
}

/* ------------------------------- */

.books,
.books__list{
    display: flex;
    flex-direction: column;
    gap: var(--sub-section-distance-gap);
}


.books__card{
    text-align: center;
}

.books__card__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.books__card__ctas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.books__card__img{
    width: 12em;
    aspect-ratio: 1;
}

.extras{
    min-height: 30rem;
    background-image: var(--cor--fundo);
    color: rgba(255, 255, 255, 0.836);
}

.extras,
.extras__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--sub-section-distance-gap);

    h2, p, a{
        color: rgba(255, 255, 255, 0.836);
    }
}

.extras__content{
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.extras__content i{
    font-size: 2rem;
}

.extras__content a {
    transition: 0.2s ease;
}

.extras__content a:hover {
    color: #efd9ce;
    font-size: 1.3rem;
}

.extra__title{
    display: block;
    margin-top: .7rem;
}

/* ------------------------------- */

.artists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--sub-section-distance-gap);
}

.artists__carroussel__wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
    padding-right: var(--grid-gap);
    scroll-snap-type: x mandatory;
    width: calc(100vw - (var(--grid-margin) * 2));
}

.artists__card{
    margin-left: var(--grid-gap);
    flex: 0 0 calc(100vw - (var(--grid-margin) * 2));
    scroll-snap-align: center;

    display: flex;
    justify-content: center;
    text-align: left;
    gap: var(--grid-gap);
}

.artists__card__content{
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);

    .btn-spotify{
        margin-top: auto;
    }
}

.btn-spotify{
    background-color: #1DB954;
    color: #FFF;
    box-shadow: 2px 2px 6px #1914147a;
}

.artists__card__img{
    width: 25%;
    border-radius: 10%;
}

.artists__card__description{
    display: flex;
    flex-direction: column;
}

.artists__card__description .btn{
    margin: .7rem .5rem .5rem auto;
}
/* ------------------------------- */

.footer{
    background-color: #9481ff;
    text-align: center;
    padding-top: 2rem;
    margin-top: var(--section-distance-top);
    padding-bottom: 2rem;

    h1{
        color: white;
    }

    p{
        font-size: 1rem;
        color: white;
        font-weight: 600;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: var(--grid-margin);
    }
}

.socialLinks{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

/* ------------------------------- */

.section__title{
    text-align: center;
}

.ilustration{
    display: none;
}

.ilustration img{
    width: 35rem;
}

.left{
    order: -1;
}

.sm-hide{
    display: none;
}

@media screen and (width <= 64rem) {
    .sm-sr-only{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border: 0;
        top: 0;
    }
}

@media screen and (width > 64rem){
    :root{
        --text-size: 1rem;
        --h1-size: 2.7rem;
        --h2-size: 2.25rem;
        --h3-size: 1.75rem;
        --button-font-size: 1.25rem; 
        
        --grid-gap: 1.25rem;
        --section-distance-top: 8rem;
    }
    .md-show{
        display: revert;
    }

    .md-hide{
        display: none;
    }

    .header{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: .5rem;
        background: var(--page-bg) linear-gradient(to bottom, #e7ecefff 30%, #e7ecef00) fixed;
    }

    .logo{
        text-align: center;
    }

    .logo__text{
        font-size: 3.25rem;
    }

    .nav-menu ul{
        flex-direction: row;
        justify-content: center;
    }

    .ilustration{
        display: revert;
    }

    .section__title{
        display: flex;
        gap: var(--grid-gap);
        justify-content: space-evenly;
        align-items: center;
    }

    .games{
        gap: calc(var(--sub-section-distance-gap)*1.75);
    }

    .games__card{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--grid-gap);
        text-align: left; 
    }

    .games__card__img{
        grid-column: 1/4;
    }
    
    .games__card__content{
        grid-column: 4/-1;
    }

    .games__card__ctas{
        flex-direction: row;
        justify-content: end;
    }

    .books__card{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--grid-gap);
        text-align: left; 
    }
    
    .books__card__img{
        grid-column: 1 / 3;
        width: 100%;
    }

    .books__card__content{
        grid-column: 3 / -1;
        text-align: left;
        justify-content: space-evenly;
    }

    .books__card__ctas{
        flex-direction: row;
    }

    .books__card:nth-child(odd) .books__card__img{
        grid-column: 7 / -1;
        order: 2;
    }

    .books__card:nth-child(odd) .books__card__content{
        grid-column: 1 /7 ;
        text-align: right;
    }

    .books__card:nth-child(odd) .books__card__ctas{
        justify-content: end;
    }

    .artists__card__description{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
}

@media screen and (width > 90rem) {
    :root{
        --grid-margin: 4rem;
        --h1--size: 4rem;
        --h2--size: 2.5rem;
        --h3--size: 2rem;

        --section-distance-top: 9rem;
        --sub-section-distance-gap: 7.75rem; 
    }

    .header{
        padding: 3rem 0;
    }

    .header .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .logo{
            width: fit-content;
        }
    }
}

@media screen and (min-width: 36rem) {
    .reviews__carroussel__wrapper{
        width: calc((100% - (var(--grid-margin) * 2))/1.8);
    }
}

@media screen and (min-width: 64rem) {
    .reviews__carroussel__wrapper{
        width: calc((100% - (var(--grid-margin) * 2))/2.2);
    }
}

@media screen and (min-width: 50rem) {
    .extras__content > div {
        flex: 1 1 calc(33.333% - var(--sub-section-distance-gap)); 
        box-sizing: border-box;
    }
}